################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Akka6/bin/Debug/net6.0
/Akka6/obj
/AkkaWebApi6/obj
/BookStore/BookStore.Api/obj
/BookStore/BookStore.Api/bin/Debug/net6.0
/BookStore.Domain/bin/Debug/net6.0
/BookStore.Domain/obj
/BookStore.Domain.Test/bin/Debug/net6.0
/BookStore.Domain.Test/obj
/BookStore.Infrastructure/bin/Debug/net6.0
/BookStore.Infrastructure/obj
/ChatClient/bin/Debug/net5.0
/ChatClient/obj
/ChatMessage/bin/Debug/net5.0
/ChatMessage/obj
/ChatServer/bin/Debug/net5.0
/ChatServer/obj
/ClusterBookStore.Api/bin/Debug/net6.0
/ClusterBookStore.Api/obj
/ClusterBookStore.Domain/bin/Debug/net6.0
/ClusterBookStore.Domain/obj
/ClusterConfig/bin/Debug/net6.0
/ClusterConfig/obj
/Infrastructure/bin/Debug/net6.0
/Infrastructure/obj
/MainApp/bin/Debug/net6.0
/MainApp/obj
/ReceiveActorApp/bin/Debug/net5.0
/ReceiveActorApp/obj
/obj
/NonSeedApp/bin
/NonSeedApp/obj
/SeedApp/bin
/SeedApp/obj

